<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <p style="line-height: 1.5; font-size: 14px; font-family: 'Golos Text', sans-serif; color: #5F5B5D">!{description}</p>
  </body>
</html>