<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  </head>
  <body style="margin: 20px;">
    <div style="background-color: #F0F0F0; border-radius: 10px; padding: 30px; width: 460px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <a href="https://laform-client.herokuapp.com">
        <img style="height: 68px; width: 66px;" src="https://laforme.ru/wp-content/uploads/2020/06/LaForme_Patterns_-_Logo.png">
      </a>
      <div style="line-height: 1.5; font-size: 14px; font-family: 'Golos Text', sans-serif; color: #5F5B5D;">
        <div style="margin-top: 15px">Здравствуйте, благодарим за покупки в интернет магазине <span style="color: #FF005A; font-weight: 600">LaForme</span></div>
        <div><b>Ваши данные:</b></div>
        <div>Адрес: <b>!{address}</b></div>
        <div>Телефон: <b>!{phone}</b></div>
        <div>ФИО: <b>!{fullName}</b></div>
      </div>
    </div>
  </body>
</html>