<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  </head>
  <body style="margin: 20px;">
    <div style="background-color: #F0F0F0; border-radius: 10px; padding: 30px; width: 460px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <a href="https://laform-client.herokuapp.com">
        <img style="height: 68px; width: 66px;" src="https://laforme.ru/wp-content/uploads/2020/06/LaForme_Patterns_-_Logo.png">
      </a>
      <div style="line-height: 1.5; font-size: 14px; font-family: 'Golos Text', sans-serif; color: #5F5B5D;">
        <div style="font-size: 24px; font-weight: 600; color: #2F2A2C; margin: 10px 0;">Смена пароля</div>
        <div>Для смены пароля нажмите на кнопку ниже:</div>
        <a style="width: 100%; font-size: 16px; color: white; text-decoration: none;" href="https://laform-client.herokuapp.com/auth/change-password?code=#{code}">
          <div style="text-align:center; margin: 15px 0; padding: 15px; border-radius: 10px; text-decoration: none; background-color: #FF005A;">Сменить пароль</div>
        </a>
        <div style="color: #8F8D8E;">В случае если кнопка не работает нажмите по ссылке ниже:</div>
        <a style="color: #2F2A2C; text-decoration: none;" href="https://laform-client.herokuapp.com/auth/change-password?code=#{code}">https://laform-client.herokuapp.com/auth/change-password?code=#{code}</a>
      </div>
    </div>
  </body>
</html>